/* nav{
  text-align: center;
  margin-top: 50px;
}
nav a{

  color: black;
}
button{
  width: 120px;
  border-radius: 20px;
  font-weight: 600;
}
.container{
  text-align: center;
  margin-top: 100px;
}
input{
  border-radius: 20px;
} */
